@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

body {
    color: var(--mainBlack);
    font-family: "YEKAN PLUS";
    background-color: var(--bodyColor);
    position: relative;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--secondaryColor);
    height: 60px;
    position: sticky;
    top: 0;
}
.navbar-center {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 33.33%;
    font-size: 1.3rem;
}
.main-menu li {
    transition: 0.3s;
    cursor: pointer;
    min-height: 10px;
}
.main-menu li:hover {
    transform: scale(1.1);
}
.main-toggle {
    display: none;

}
.nav-toggle {
    z-index: 3;
    cursor: pointer;
    width: 2.3rem;
    height: 2rem;
    padding:0 0 0 0;
    /* background-color: rgba(255, 0, 0, 0.279); */
}
.nav-toggle .nav-toggle-bar {
    width: 32px;
    height: 0.27rem;
    background-color: var(--primaryColor);
    position: relative;
    border-radius: 3px;
    /* margin: 30px auto 0; */
  }
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    position: absolute;
    transition: 0.4s;
    border-radius: 3px;
  }
  .nav-toggle .nav-toggle-bar::after {
   transform: translateY(0.70rem);
  }
  .nav-toggle .nav-toggle-bar::before {
    transform: translateY(-0.70rem);
  }
  .nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
  }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: var(--mainWhite);
    /* margin-top: 0; */
  }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
.nav {
    width: 12rem;
    height: 100vh;
    background-color: #11123b86;
    color: #cac2b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: -15rem;
    padding: 30px 30px;
    z-index: 1;
    transition: all 0.9s;
    font-size: 18px;
}
.nav.expanded {
    left: 0;
}
.menu {
    list-style-type: none;
    font-size: 1.3rem;
}
.menu li {
    margin: 50px 0;
    cursor: pointer;
    transition: 0.4s;
}
.menu li:hover {
    color: #fff;
    transform: scale(1.2);
}
.title-menu {
    font-size: 1.8rem;
    width: 15rem;
    width: 33.33%;
    text-align: center;
}
.price {
    display: flex;

}
.discount {
    background-color: #e14f4f;
    color: #fff;
    width: 40px;
    height: 20px;
    border-radius: 1rem;
    font-size: 1.1rem;
    text-align: center;
    line-height: 20px;
    padding-top: 0.7px;
    margin: 4px 0 0 8px;
}
.off {
    font-size: 0.9rem;
}
del {
    color: #8A929C;
}
.cart-icon {
    position: relative;
    color: var(--primaryColor);
    font-size: 1.7rem;
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    font-size: 1.1rem;
    background-color: var(--mainRed);
    color: var(--mainWhite);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -8px;
    top: -8px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #e277a7; */
    padding: 0 20px;
}
.products-title {
    /* background-color: #6d28d9; */
    margin-top: 50px;
    font-size: 1.580rem;
}
.products-center {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(340px, 1fr));
    /* background-color: yellow; */
    gap: 4rem 3rem;
    margin: 50px 0;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
    background-color: var(--mainWhite);
    border-radius: 15px;
    max-width: 400px;
}
.product-image img {
    /* width: 300px; */
    width: 100%;
    /* min-height: 500px; */
    /* max-height: 450px; */
    border-radius: 15px 15px 0 0;
}
.product-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    font-size: 1.3rem;
    text-align: center;
}
.add-to-cart {
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-radius: 10px;
    /* font-weight: bold; */
    margin: 25px 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
    font-family: "MT_Yekan Square Boom";
}
.add-to-cart:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.footer {
    /* background-color: #db2777; */
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(140px, 1fr));
    padding: 20px 10px;
    margin: 70px auto 0;
    /* color: #fff; */
    border-top:2px solid #38383a4f;
    max-width: 700px;
    gap: 20px 40px;
    text-align: center;
}
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 50px; */
    /* background-color: #6d28d9; */

}
.header-footer {
    margin: 15px 0;
    font-size: 1.5rem;
    color: #0E1935;
}
.footers {
    cursor: pointer;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #46484ccf;
}
.main-footer .footers i {
    font-size: 1.6rem;
    margin: 0 8px;
}
.instagram{
    /* color: #f09433; 
  color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  color: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
  color: #cc2366;  
}
.twitter {
    color: #1da1f2;
}
.telegram{
    color: #526b88;
}
.whatsapp {
    color: #00e676;
}
@media screen and (max-width: 1000px) {

    .main-toggle {
        display: flex;
        align-items: center;
        width: 33.33%;
        z-index: 2;
    }
    .nav-toggle {
        display: flex;
        align-items: center;
    }
    .main-menu {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .title-menu {
        font-size: 1.4rem;
    }
}

